{
  "rules": {
    "indent": [
      2
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "no-unused-vars": 1,
    "import/extensions": [
      2,
      {
        "js": "always"
      }
    ],
    "no-console": ["error", { allow: ["log", "error"] }]
  },
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "airbnb-base"
}
